@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

$primary:   #030505; 
$secondary: #575757;
$site_bg-primary: #ffffff;
$site_bg-secondary:#030505;
$font_primary:#030505;
$font_secondary: #ffffff;
$nav_font: #ffffff;
$nav_font_hover:#ffffff8c;

@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Oswald', sans-serif;
    background-color: $site_bg-primary;
    color: $font_primary;

}
a{
    color: $font_primary;
}
main{
    margin-top: 60px;
}
.custom-btn-primary{
    background-color: #fff;
    color: $primary;
    font-weight: bold;
}
/* Navingation Stlyes */
.navbar{
    .btn-link{
        color: $nav_font;
        text-decoration: none;
        padding: 0.5rem;
        &:hover{
            color:$nav_font_hover;
        }
        @media (max-width: 767.98px) {
            padding-left: 0;
        }
    }
    .dropdown-menu{
        background-color: $primary;
        border-radius: 1px;
        .dropdown-item{
            color: $nav_font;
            &:hover{
                background-color: $primary;
                color:$nav_font_hover;
                text-decoration: underline;
            }
        }
    }

    /* sub menu Dropdown for hover */
    @media (min-width: 576px) {
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
    }
}

/* Featured Post */
.featured-post{
    position: relative;
    color: $font_secondary;
    background-size: cover;
    background-position: center;
    height: 22rem;
    
    .featured-post-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.82); /* Dark overlay */
    }

    .featured-post-content {
        position: relative;
        z-index: 2; /* Ensure content is above the overlay */
        padding: 20px;
    }
}

.post_image img{
    width: 100%;
}