@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

$primary:   #030505; 
$secondary: #575757;
$site_bg-primary: #ffffff;
$site_bg-secondary:#030505;
$font_primary:#030505;
$font_secondary: #ffffff;
$font_sub: #575757;
$nav_font: rgba(255, 255, 255, 0.55);
$nav_font_hover:rgba(255, 255, 255, 0.75);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body{
    font-family: 'Oswald', sans-serif;
    background-color: $site_bg-primary;
    color: $font_primary;

}
footer{
    color: $font_secondary;
    .footer-nav{
        list-style: none;
        padding-left: 0px;
        display: inline-block;
        li{
            display: inline-block;
            padding: 0.5em;
            margin: 0.5em;
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
a{
    color: $font_primary;
}
main{
    margin-top: 60px;
}
article {
    h1, h2, h3, h4{
        padding-bottom: 0.5em;
    }
    p{
        padding-bottom: 1em;
    }
    ul{
        li{
            padding: 0.5em;
        }
    }
    .author-div{
        a{
            text-decoration: none;
            color:$font_sub;
            &:hover{
                text-decoration: underline;
                color: $font_primary;
            }
        }
    }
}
.color-subfont{
    color:$font_sub;
}
.custom-btn-primary{
    background-color: #fff;
    color: $primary;
    font-weight: bold;
}
.btn-dark{
    background-color: $site_bg-secondary;
    color:$font_secondary;    
    box-shadow: #030505 1px 1px 1px 1px;

    &:hover{
        background-color: transparent;
        border: thin solid $site_bg-secondary;
        color: $font_primary;
    }
}
.btn-light{
    
        background-color: transparent;
        color: $font_secondary;
        border: thin solid $font_secondary;
        box-shadow: #030505 2px 2px 1px 1px;
    &:hover{
        background-color: $site_bg-primary;
        color: $font_primary;
    }
}
.btn-thin{
    padding: 0.1em 1em;
}
.image-dark{
    filter: brightness(25%);
}
.pagination-btn{
    border:2px solid $site_bg-primary;
    color: $font_primary;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: #ccc 1px 1px 1px 1px;

    &.active{
        color: $font_secondary;
        background-color: $site_bg-secondary;
        border:2px solid $site_bg-secondary;
    }

    &:hover{
        border:2px solid $site_bg-secondary;
    }
}
.category_link{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
/* Navingation Stlyes */
.navbar{
    .btn-link{
        color: $nav_font;
        text-decoration: none;
        padding: 0.5rem;
        &:hover{
            color:$nav_font_hover;
        }
        @media (max-width: 767.98px) {
            padding-left: 0;
        }
    }
    .dropdown-menu{
        background-color: $primary;
        border-radius: 1px;
        .dropdown-item{
            color: $nav_font;
            &:hover{
                background-color: $primary;
                color:$nav_font_hover;
                text-decoration: underline;
            }
        }
    }

    /* sub menu Dropdown for hover */
    @media (min-width: 576px) {
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
    }
}

/* Featured Post */
.featured-post{
    position: relative;
    color: $font_secondary;
    background-size: cover;
    background-position: center;
    height: 22rem;
    .category_link{
        color: $font_secondary;
    }
    .featured-post-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.82); /* Dark overlay */
    }

    .featured-post-content {
        position: relative;
        z-index: 2; /* Ensure content is above the overlay */
        padding: 20px;
    }
}

/* Recent Articles */
.recent-article{
    position: relative;
    background-size: cover;
    background-position: center;

    .recent-article-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.85); /* Dark overlay */
    }

    .recent-article-content{
        position: relative;
        z-index: 2; /* Ensure content is above the overlay */
        padding: 20px;        
    }

    h2{
        color: $font_secondary;
    }
    .read-more{
        width: 150px;
        display: inline-block;
    }
    .card {
        position: relative;
        overflow: hidden; /* Ensures the overlay is contained within the card */        
        box-shadow: rgb(0 0 0 / 60%) 1px 1px 1px 1px;
        
        .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.85); /* Dark overlay, adjust color and opacity as needed */
            color: #fff; /* Text color */
            opacity: 0; /* Hide overlay by default */
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.5s ease; /* Smooth transition for the overlay */
        }

        &:hover .card-overlay {
            opacity: 1; /* Show overlay on hover */
        }
        &:hover .card-body{
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    
}
.popular-topic{
    .dark-image{
        filter: brightness(15%);
    }
    .category_link{
        color: $font_secondary;
    }
}
.top-author{
    .author-profile-initial{
        width: 80px;
        height: 80px;
        border: thin solid $site_bg-secondary;
        background-color: $site_bg-secondary;
        color: $font_secondary;
    }
}
.tag-badge{
    background-color: $font_sub;
    color: $font_secondary;
    font-weight: normal;
}
.post_image img{
    width: 100%;
}
.light-carousel{
    .carousel-indicators [data-bs-target]{
        background-color: #030505;
    }
}

/* Full Article */
.comment_form{
    .comment-input{
        width: 30em;
        height: 10em;
        display: block;
        border-radius: 0.5em;
        margin-bottom: 15px;
    }
    .form-span{
        display: inline-block;
        text-align: right;
    }
    .alert{
        width: 30em;
    }
    @media (max-width: 510px) {
        .comment-input{
            width: 100%;
        }
        
        .alert{
            width: 100%;
        }
    }
}
.comment-section{
    ul{
        padding-left: 0px;
        li{
            list-style: none;   
            margin-bottom: 2em;         
        }
        .profile-pic-block{
            width: 50px;
            flex-shrink: 0;
        }
        .comment-block{
            width: 350px;
            padding: 1.5em;
            padding-bottom: 0.2em;
            display: inline-block !important;
            background: #f1f1f1;
            border-radius: 0.3em;
        }
        .flex-grow{
            flex-grow: 1;
            flex-basis: 0;
        }
        @media (max-width: 440px) {            
            .comment-block{
                width: 80%;
            }
        }
        .update-comment{
            padding: 0.4em;
            height: 100px;
            width: 350px;
            background: #f1f1f1;
            border:thin solid $font_sub;
        }
        @media (max-width: 439px) {            
            .update-comment{
                width: 250px;
            }
        }
        .author-profile-initial{
            width: 40px;
            height: 40px;
            font-weight: bolder;
            font-size: 1em;
            padding-bottom: 2px;
            background-color: $site_bg-secondary;
            color: $font_secondary;
            border-radius: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        .comment-username{
            font-size: 0.8em;
        }
        .alert{
            width: 30em;
        }
        @media (max-width: 510px) {            
            .alert{
                width: 100%;
            }
        }
    }
}

/* Article List */
.article-list{
    .search-section{
        .search-type{
            width: 150px;
        }
        @media (max-width: 400px) {            
            .search-type{
                width: 100px;
            }
        }
    }
    ul{
        padding-left: 0px;
        li{
            list-style: none;
            
            .article-summary-div{
                border: thin solid #ccc;
                border-radius: 5px;
                box-shadow: #eeeeee 1px 1px 1px;
                width: 100%;
                &:hover{
                    box-shadow: #cccccc 1px 1px 2px 2px;
                }
            }
            h3{
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .author-profile-initial{
                width: 30px;
                height: 30px;
                font-weight: bolder;
                font-size: 1em;
                padding-top: 4px;
                background-color: $site_bg-secondary;
                color: $font_secondary;
                border-radius: 30px;
                text-align: center;
                display: inline-block;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
            .author-block{
                color: $font_sub;
                font-size: 0.9em;
                a{
                    color: $font_sub;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        color: $font_primary;
                    }
                }
            }
        }
    }
}

.author-profile{
    .author-profile-initial{
        width: 100px;
        height: 100px;
        font-weight: bolder;
        font-size: 3.5em;
        padding-top: 4px;
        background-color: #030505;
        color: #ffffff;
        border-radius: 100px;
        text-align: center;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}